*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
.left{
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(./image5.webp);
  }  
.right{
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
    background: linear-gradient(135deg, #ffffff, #c9c9c9);
  }
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
.container{
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    background: linear-gradient(135deg, #ffffff, #b4b4b4);
  }
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}
.title{
    font-size: 20px;
    font-weight: bolder;
    position: relative;
  }
.user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
.input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
.input-box-1{
      margin-bottom: 15px;
      width: 100%;
    }
.input-box span.details,.input-box-1 span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
.input-box input,.input-box-1 input{
    height: 45px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
  }
.button{
     height: 45px;
     margin: 35px;
   }
.button input{
     height: 100%;
     width: 100%;
     padding: 5px;
     border-radius: 5px;
     border: none;
     background: linear-gradient(140deg, #71b7e6, #9b59b6);
     font-size: 18px;
     font-weight: 500;
   }
input:hover{
    background: linear-gradient(140deg, #9b59b6, #71b7e6);
    }
.policy{
    font-size: 10px;
    }
  @media(max-width: 720px)
  {
    .left{
        max-width: 100%;
        overflow-y: scroll;
      }
    .policy{
        max-width: 100%;
        }
    .centered{
        max-width: 100%;
        overflow-y: scroll;
      }
    .container{
       max-width: 100%;
     } 
    .input-box{
      margin-bottom: 15px;
      width: 100%;
     }
    .user-details{
      max-height: 300px;
      overflow-y: scroll;
     }
  }

  